/* Globals */
/* Colors */
/* Fonts */
/* Components */
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
    -webkit-transition: padding 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out; }

  .top-nav-collapse {
    padding: 0;
    background-color: white;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); } }
@media (min-width: 767px) {
  .navbar-ex1-collapse {
    float: right; } }
.navbar-is-collapsed {
  color: #fff; }

/* Override Bootstrap Styles */
.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

.navbar-default .navbar-brand {
  display: none;
  color: #ccc; }

.navbar-default .navbar-text {
  color: #ccc; }

.navbar-default .navbar-nav > li > a {
  color: #ccc; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  /* Selected Navbar element */
  background: #fff;
  border-bottom: thick solid #40C4FF; }

.navbar-default .navbar-form {
  background: #fff;
  border-bottom: thick solid #40C4FF; }

.navbar-default .navbar-nav > .open > a:focus {
  background: #fff;
  border-bottom: thick solid #40C4FF; }

.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background: #fff;
  border-bottom: thick solid #40C4FF; }

.project-block {
  display: block;
  text-align: center;
  height: 270px;
  background: #fff; }

.project-block-pic {
  background: #fff;
  border-bottom: solid thin #40C4FF; }

.project-bg {
  height: 170px; }

.project-bg-datatransfer {
  background: url(../images/swifticons/Datatransfer.svg) no-repeat center center;
  background-size: 180px; }

.project-bg-datawork {
  background: url(../images/swifticons/Datawork.svg) no-repeat center center;
  background-size: 154px; }

.project-bg-manbag {
  background: url(../images/swifticons/Manbag.svg) no-repeat center center;
  background-size: 170px; }

.project-bg-paths {
  background: url(../images/swifticons/Paths.svg) no-repeat center center;
  background-size: 160px; }

.project-bg-webdesign {
  background: url(../images/swifticons/Webdesign.svg) no-repeat center center;
  background-size: 170px; }

.project-block-bottom {
  margin: 12px 0 12px 0;
  background-color: #fff;
  color: #191e2b;
  height: 80px; }

.project-button {
  color: #191e2b; }

.project-dialog {
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2); }

.mdl-dialog__content {
  overflow: auto; }

.exp-block {
  text-align: left;
  min-height: 120px;
  min-width: 293px;
  margin: 20px;
  padding: 0;
  overflow: auto;
  display: block;
  color: #fff; }

.exp-block-title {
  width: 100%;
  height: 40px;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding-top: 6px;
  padding-left: 10px;
  overflow: auto;
  display: block;
  background-color: #191e2b;
  color: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-bottom: solid thin #40C4FF; }

.exp-block-content {
  min-height: 134px;
  padding: 0;
  overflow: auto;
  display: block;
  background-color: #fff;
  color: #333; }

.exp-block-content-left {
  display: block;
  margin: 14px 14px 14px 14px;
  padding: 0;
  margin-bottom: 12px; }

.exp-block-content-single {
  margin: 14px 14px 14px 14px;
  padding: 0;
  margin-bottom: 72px; }

.exp-block-content-bottom {
  display: block;
  margin: 14px 14px 14px 14px;
  padding: 0; }

.exp-block-extended {
  display: none;
  margin-top: 20px;
  height: 300px;
  overflow: auto;
  padding: 10px;
  border-top: solid thin #40C4FF;
  width: 100%; }

.exp-morebutton-container {
  margin-top: 20px; }

body {
  width: 100%;
  height: 100%; }

html {
  width: 100%;
  height: 100%; }

section {
  padding-top: 70px;
  overflow: auto;
  padding-bottom: 10em;
  font-size: 16px; }

.intro-section {
  height: 100%;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #191e2b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  color: #fff; }

#intro-name {
  height: 50%;
  line-height: 120px; }

.experience-section {
  background: #fff; }

.projects-section {
  background: #ccc;
  color: #333; }

.certifications-section {
  min-height: 40%;
  background: #ccc; }

.contact-section {
  text-align: center;
  background: #191e2b;
  color: #fff;
  min-height: 80%; }

.centered {
  text-align: center; }

.centered > div {
  float: none;
  display: inline-block;
  vertical-align: text-top; }

.exp-resume {
  margin-top: 40px;
  font-size: 16px; }

.footer-section {
  background: #222;
  height: 10%; }

.center-block {
  margin: 0 auto; }

/* Images */
.cert-image {
  max-width: 30% !important;
  min-width: 10em;
  height: auto;
  max-height: 20em;
  display: inline-block;
  margin: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid thick #40C4FF; }

.contact-image {
  max-width: 15% !important;
  min-width: 10em;
  height: auto;
  display: inline-block;
  margin: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid thick #40C4FF; }

.material-card-shadow {
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 16px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

/* Text */
.text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#intro-p {
  font-family: "Arbutus Slab", serif;
  font-size: 20px; }

@media (max-width: 767px) {
  #intro-name {
    font-size: 20vw;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

  .section-header {
    font-size: 9vw; } }
@media (min-width: 768px) {
  #intro-name {
    font-size: 140px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

  .section-header {
    font-size: 56px; } }
.section-header {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-bottom: 16px;
  width: 100%; }

/* Icons */
.large-icon {
  font-size: 120px;
  color: #ffffff;
  height: 160px; }

@media (max-width: 767px) {
  .contact-icon {
    width: 80%; }

  .contact-icon-wrapper {
    margin-bottom: 40px; } }
@media (min-width: 768px) {
  .contact-icon {
    width: 134px; } }
.contact-icon {
  background-color: #40C4FF;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  margin: auto; }

.contact-icon:hover {
  position: relative;
  top: -5px; }

/*# sourceMappingURL=style.css.map */
