/* Globals */
@import 'theme';
@import 'vendormixins';

/* Components */
@import 'navbar';
@import 'project-cards';
@import 'experience-cards';

body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

section {
  padding-top: 70px;
  overflow: auto;
  padding-bottom: 10em;
  font-size: 16px;
}

.intro-section {
  height: 100%;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background: $color-primary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  color: $color-mono-primary;
}

#intro-name {
  height: 50%;
  line-height: 120px;
}

.experience-section {
  background: $color-mono-primary;
}

.projects-section {
  background: $color-mono-tertiary;
  color: $color-mono-secondary;
}

.certifications-section {
  min-height: 40%;
  background: $color-mono-tertiary;
}

.contact-section {
  text-align: center;
  background: $color-primary;
  color: $color-mono-primary;
  min-height: 80%;
}

.centered {
  text-align: center;
}

.centered > div {
  float: none;
  display: inline-block;
  vertical-align: text-top;
}

.exp-resume {
  margin-top: 40px;
  font-size: 16px;
}

.footer-section {
  background: #222;
  height: 10%;
}

.center-block {
  margin: 0 auto;
}

/* Images */

.cert-image {
  max-width: 30% !important;
  min-width: 10em;
  height: auto;
  max-height: 20em;
  display: inline-block;
  margin: 40px;
  @include border-radius(50%);
  border: solid thick $color-secondary;
}

.contact-image {
  max-width: 15% !important;
  min-width: 10em;
  height: auto;
  display: inline-block;
  margin: 40px;
  @include border-radius(50%);
  border: solid thick $color-secondary;
}

.material-card-shadow {
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 16px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

/* Text */

.text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#intro-p {
  font-family: $font-primary-serif;
  font-size: 20px;
}

@media (max-width: 767px) {

  #intro-name {
    font-size: 20vw;
    font-family: $font-primary-sans;
  }
  .section-header {
    font-size: 9vw;
  }

}

@media (min-width: 768px) {

  #intro-name {
    font-size: 140px;
    font-family: $font-primary-sans;
  }
  .section-header {
    font-size: 56px;
  }
}

.section-header {
  text-align: center;
  font-family: $font-primary-sans;
  margin-bottom: 16px;
  width: 100%;
}

/* Icons */
.large-icon {
  font-size: 120px;
  color: #ffffff;
  height: 160px;
}

@media (max-width: 767px) {
  .contact-icon {
    width: 80%;
  }
  .contact-icon-wrapper {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .contact-icon {
    width: 134px;
  }
}

.contact-icon {
  background-color: $color-secondary;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
  margin: auto;
}

.contact-icon:hover {
  position: relative;
  top: -5px;
}

.automargin {
  margin: auto;
}