.project-block {
  display: block;
  text-align: center;
  height: 270px;
  background: $color-mono-primary;
}

.project-block-pic {
  background: $color-mono-primary;
  border-bottom: solid thin $color-secondary;
}

.project-bg {
  height: 170px;
}

.project-bg-datatransfer {
  background: url(../images/swifticons/Datatransfer.svg) no-repeat center center;
  background-size: 180px;
}

.project-bg-datawork {
  background: url(../images/swifticons/Datawork.svg) no-repeat center center;
  background-size: 154px;
}

.project-bg-manbag {
  background: url(../images/swifticons/Manbag.svg) no-repeat center center;
  background-size: 170px;
}

.project-bg-paths {
  background: url(../images/swifticons/Paths.svg) no-repeat center center;
  background-size: 160px;
}

.project-bg-webdesign {
  background: url(../images/swifticons/Webdesign.svg) no-repeat center center;
  background-size: 170px;
}

.project-block-bottom {
  margin: 12px 0 12px 0;
  background-color: $color-mono-primary;
  color: $color-primary;
  height: 80px;
}

.project-button {
  color: $color-primary;
}

.project-dialog {
  width: 94%;
  max-width: 900px;
  max-height: 80%;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
}

.project-dialog-highlights {
  padding: 0;
  margin: 0 0 0 30px;
}

.mdl-dialog__content {
  overflow: auto;
}

.project-dialog-chip {
  height: 32px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  line-height: 32px;
  padding: 0 12px;
  border: 0;
  border-radius: 16px;
  display: inline-block;
  margin: 2px 0;
  font-size: 0;
  white-space: nowrap;
  background-color: $color-secondary;
  color: $color-mono-primary;
  margin-right: 2px;
}
