/* Colors */
$color-primary: #191e2b;
$color-secondary: #40C4FF;
$color-mono-primary: #fff;
$color-mono-secondary: #333;
$color-mono-tertiary: #ccc;

/* Fonts */
$font-primary-sans: "Roboto","Helvetica","Arial",sans-serif;
$font-primary-serif: 'Arbutus Slab', serif;